.main{
  width: 500px;
  margin: auto;
}

h2{
    color: #229984;
    font-size: 2.5rem;
}

ul{
    padding: 0;
}

ul li{
    color: #000;
    list-style: none;
    font-size: 1.2rem;
    margin-top: 10px;
}